<% @book_categories.each do |category| %>
  <% tmp_status_with_books = @status_with_books.where(book_category_id: category.id).where(status: "standby") %>
  <p><%= category.name unless tmp_status_with_books.empty? %></p>
  <% tmp_status_with_books.each do |status_with_book| %>
    <%= render 'books/index/book_card', status_with_book: status_with_book %>
  <% end %>
<% end %>