<div class="py-1">
  <% @book_categories.each do |category| %>
    <% tmp_status_with_books = @status_with_books.where(book_category_id: category.id).where(status: "standby") %>
    <div class="mt-2 px-2">
      <% unless tmp_status_with_books.empty? %>
        <i class="fas fa-bookmark text-primary"></i>
        <%= category.name  %>
      <% end %>
      <div class="row mt-2 px-3">
        <% tmp_status_with_books.each do |status_with_book| %>
            <%= render 'books/index/book_card', status_with_book: status_with_book %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>