<div class="col-auto p-2 border rounded-lg shadow-sm">
  <%= link_to book_path(status_with_book.book), class: "text-reset", style: "text-decoration: none;" do %>
    <div class="text-center">
      <%= image_tag url_for(status_with_book.book.icon.variant(resize: "90x100>")), class: "border rounded" %>
    </div>
    <div class="mt-1 mx-auto border rounded" style="width: 92px; white-space: nowrap; overflow: auto;">
      <small><%= status_with_book.book.name %></small>
    </div>
  <% end %>
  <% if @user == current_user %>
    <%= link_to edit_user_status_with_book_path(@user, status_with_book), remote: true do %>
      <div class="text-center"><i class="fas fa-pen text-primary"></i></div>
    <% end %>
  <% end %>
</div>
