<% @book_categories.each do |category| %>
  <p><%= category.name unless @books.where(book_category_id: category.id).where(status: "勉強中").empty? %></p>
  <% @books.where(book_category_id: category.id).where(status: "勉強中").each do |book| %>
    <%= render 'books/index/book_card', book: book %>
  <% end %>
<% end %>

