<%= form_tag user_books_path(@user), method: 'get', remote: true, class: "row justify-content-center px-2" do %>
  <div class="form-group col-9 px-0">
    <%= text_field_tag :search, nil, placeholder: "教材名で検索", class: "form-control rounded" %>
  </div>
  <div class="col-auto px-0 ml-1">
    <%= submit_tag "検索", class: "btn btn-primary" %>
  </div>
<% end %>