<div class="d-flex px-2 align-items-center">
  <div>
    <%= image_tag url_for(@book.icon.variant(resize_and_pad: [90, 90, background: :transparent])) %>
  </div>
  <div class="ml-2">
    <div>
      <%= @book.name %>
    </div>
    <div>
      <i class="fas fa-user text-primary"></i>
      <span id="bookUsersCount"><%= @book.users.count %></span>
    </div>
  </div>
</div>
