<%= form_with model: @user, url: user_update_path(@user), local: true do |f| %>
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">志望校：<%= @user.my_choice_university %></h5>
          <%= f.hidden_field :my_choice_university %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit :保存, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>