<%= form_tag user_search_path, method: 'get', remote: true, class: "row justify-content-center px-2", id: "search_form" do %>
  <div class="form-group col-10 px-0">
    <%= text_field_tag :search, nil, placeholder: "キーワードで検索", class: "form-control rounded" %>
  </div>
  <div class="col-auto px-0 ml-1">
    <%= submit_tag "検索", class: "btn btn-primary" %>
  </div>
<% end %>