<% content_for :title, "大学一覧" %>
<% if @from_top %>
  <div id="my_choice_university_create_modal"></div>
<% else %>
  <div id="my_choice_university_update_modal"></div>
<% end %>

<div class="p-2">
  <div class="form-group mb-0">
    <%= text_field_tag :university_search, nil, placeholder: "大学名", autocomplete: false, class: "form-control" %>
  </div>

  <div id="universityIndex" class="mt-1 ml-2">
    <%= render 'search/university_index' %>
  </div>
</div>

<%= javascript_pack_tag "search/universities" %>