<% content_for :title, "ユーザ検索" %>

<div class="mt-2 p-3">
  <%= render 'search/search_form' %>
</div>

<hr class="my-0">

<div class="px-2 mt-2 mb-5">
  <div class="d-flex">
    <%= link_to user_search_path(), remote: true, method: :get, id: "recommendUserLink" do %>
      <h5><div class="badge-costom badge badge-pill badge-primary">おすすめユーザー</div></h5>
    <% end %>
    <h5><div id="search_word" class='badge badge-pill badge-secondary ml-1'></div></h5>
  </div>
  <div id="userList" class="row mt-2 px-4">
    <%= render 'search/user_list' %>
  </div>
</div>

<%= javascript_pack_tag 'search/users' %>