<h4><%= link_to "＜", my_page_path(@user, term: "day", button: "before", from: @from, to: @to), remote: true, class: "text-primary" %></h4>
<h5><%= "#{Date.today - @from.day}〜#{Date.today - @to.day}" %></h5>
<h4><%= link_to "＞", my_page_path(@user, term: "day", button: "after", from: @from, to: @to), remote: true, class: "text-primary" %></h4>