<h4><%= link_to "＜", my_page_path(@user, term: "month", button: "before", from: @from, to: @to), remote: true, class: "text-primary" %></h4>
<h5><%= "#{(Date.today.at_beginning_of_month - @from.month).to_s(:year)}〜#{(Date.today.at_end_of_month - @to.month).to_s(:year)}" %></h5>
<h4><%= link_to "＞", my_page_path(@user, term: "month",button: "after", from: @from, to: @to), remote: true, class: "text-primary" %></h4>