<h4><%= link_to "＜", my_page_path(@user, term: "week", button: "before", from: @from, to: @to), remote: true, class: "text-primary" %></h4>
<h5><%= "#{Date.today.at_beginning_of_week - @from.week}〜#{Date.today.at_end_of_week - @to.week}" %></h5>
<h4><%= link_to "＞", my_page_path(@user, term: "week", button: "after", from: @from, to: @to), remote: true, class: "text-primary" %></h4>