<%= form_with model: @user do |f| %>
  <div class="modal" id="universityEditModal" data-backdrop="static" role="dialog" aria-labelledby="universityEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">編集</h5>
        </div>
        <div class="modal-body">
          <% university_list = File.open("app/assets/csv/university_list.csv", mode = "r") %>
          <%= f.select :my_choice_university, options_for_select(university_list.readlines), include_blank: "大学を選択しよう！" %>
          <% university_list.close %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= hidden_field_tag "modal[name]", "universityEditModal" %>
          <%= f.submit "保存", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>