<%= content_for :title, "通知" %>

<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

<div class="mt-1 px-2">
  <% if notifications.exists? %>
    <%= render notifications %>
  <% end %>
</div>
<%= javascript_packs_with_chunks_tag 'notifications/index' %>