<% if current_user.like?(micropost) %>
  <% @like = current_user.likes.find_by(micropost_id: micropost) %>
  <%= link_to micropost_like_path(micropost, @like), method: :delete, remote: true, class: "text-reset", style: "text-decoration: none;" do %>
    <i class="far fa-thumbs-up text-primary"></i>
    <span class="ml-2">いいね！（<%= micropost.likes.count %>件）</span>
  <% end %>
<% else %>
  <%= link_to micropost_likes_path(micropost), method: :post, remote: true, class: "text-reset", style: "text-decoration: none;" do %>
    <i class="far fa-thumbs-up text-primary"></i>
    <span class="ml-2">いいね！（<%= micropost.likes.count %>件）</span>
  <% end %>
<% end %>