<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<p>プロフィール</p>
<% unless current_user == @user %>
  <%= render partial: 'users/not_current_user_edit' %>
<% else %>
  <%= render partial: 'users/current_user_edit' %>
<% end %>