<div class="row px-4">
  <% @timeline.each do |micropost| %>
    <%= render 'home/post_card', micropost: micropost %>
  <% end %>
</div>

<div class="mt-2 mb-5">
  <%= paginate @timeline, params: { paginate: "timeline" }, remote: true %>
</div>