<div class="position-relative">
  <%= link_to root_path(modal: "new"), remote: true, class: "postBtnWrapper", style: "text-decoration: none;" do %>
    <button class="postBtn position-absolute btn-primary border rounded-circle" style="bottom: 30px; right: 20px;"><h1 class="mb-0 text-white">＋</h1></botton>
  <% end %>
</div>