<div id="postBtnWrapper" class="position-relative">
  <%= link_to root_path(modal: "new"), remote: true, style: "text-decoration: none;" do %>
    <button class="position-absolute btn-primary border rounded-circle" style="bottom: 10px; right: 5px;"><h1 class="mb-0 text-white">＋</h1></botton>
  <% end %>
</div>