<% @book_categories.each do |category| %>
  <p><%= category.name unless category.books.where(status: "勉強済み").empty? %></p>
  <% category.books.where(status: "勉強済み").each do |book| %>
    <%= render 'books/book_card', book: book %>
  <% end %>
<% end %>