<%= form_with model: @book = current_user.books.build do |f| %>
  <div class="modal" id="BooksNewModal" tabindex="-1" role="dialog" aria-labelledby="BooksNewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">教材登録</h5>
        </div>
        <div class="modal-body">
          <%= f.file_field :icon, class: "form-control-file" %>
          <%= f.text_field :name, class: "form-control", placeholder: "教材名を入力" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit :登録, class: "btn btn-primary", id: "book_register_btn" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
