$(function(){
  $("#error_messages").html("<%= escape_javascript(render 'shared/error_messages', object: @book) %>");
  $("#searched_word").html("<%= "〜#{@keyword}〜で検索" if @keyword %>");

  <% if @keyword %>
    $("#book_field").html("<%= escape_javascript(render 'books/index/search_result_field') %>");
    $("#search").val("");
    $("#newBtnWrapper").html("");
  <% else %>
    $("#book_field").html("<%= escape_javascript(render 'books/index/book_field') %>");
    $("#newBtnWrapper").html("<div id='newBtn' class='btn btn-primary'>教材登録</div>");
  <% end %>
})
