<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>

<%= link_to "教材登録", "#", data: {toggle: "modal", target: "#BooksNewModal"} %>
<%= render partial: 'books/new_modal' %>

<% @userBooks.each do |book| %>
  <%= image_tag url_for(book.icon.variant(resize: "100x100>")) %>
  <%= book.name %>
<% end %>