<div class="modal" id="toDoListEditModal" tabindex="-1" role="dialog" aria-labelledby="toDoListEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">編集</h5>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <%= submit_tag :保存, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>