// post card
.post-card-edit-link:active {
  background-color: gainsboro;
}

.post-card-delete-link:active {
  background-color: gainsboro;
}

.book-icon:active {
  background-color: gainsboro;
}

// like area
.like-btn-with-text:active {
  background-color: gainsboro;
}

// comment area
.comment-card-body:active {
  background-color: gainsboro;
}