$(function() {
  $("#error_messages").html("<%= escape_javascript(render 'shared/error_messages', object: @week_target) %>")
  
  <% if @week_target.id %>
    $("#weekTargetArea").prepend("<%= escape_javascript(render 'users/my_page/week_target_card', week_target: @week_target) %>")
    $("#book_select_modal").html("<%= escape_javascript(render 'users/my_page/book_select_modal') %>")
    $("#weekTargetForm").html("");
    $("#selectBook").before("<button>作成</button>");

    atrWeekTargetNewBtn = new Object();
    atrWeekTargetNewBtn.id = "weekTargetNewBtn"
    atrWeekTargetNewBtn.class = "btn btn-primary"
    $("button:first").attr(atrWeekTargetNewBtn);
    
  <% end %>
})