$(function(){
  $("#weekTargetCard<%= @week_target.id %>").remove();

  if (!$("#weekTargetArea>div")[0]) {
    $("#book_select_modal").after("<h5 id='whenWeekTargetAreaBlank' class='text-center mt-3 mb-5'>今週の目標を設定しよう！</h5>");
  };
})