<div class="d-flex text-muted">
  <div>
    <%= comment.user.name %>
  </div>
  <div class="ml-auto mr-3">
    <%= comment.created_at.to_s(:time) %>
  </div>
</div>
<div class="mt-1">
  <%= comment.content %>
</div>
