<div class="modal" id="commentDeleteModal" tabindex="-1" role="dialog" aria-labelledby="commentDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">コメントを削除しますか？</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "削除する", "#", id: "set_url", method: :delete, remote: true, class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>