<li id="like_button_<%= @micropost.id %>">
  <%= render 'likes/like_btn', micropost: @micropost %>
</li>

<% @likes.each do |like| %>
  <%= link_to my_page_path(like.user) do %>  
    <ul>
      <li><%= image_tag url_for(like.user.avatar.variant(resize: "30x30>")) %></li>
    </ul>
  <% end %>
<% end %>