<p id="like_btn_with_text<%= @micropost.id %>">
  <%= render 'likes/like_btn_with_text', micropost: @micropost %>
</p>

<div class="row px-2">
  <% @likes.each do |like| %>
      <%= link_to my_page_path(like.user), class: "mb-2" do %>  
        <%= image_tag url_for(like.user.avatar.variant(resize: "60x60>")) %>
      <% end %>
  <% end %>
</div>