<div id="like_btn_with_text<%= @micropost.id %>" class="mt-3 col-12">
  <%= render 'likes/like_btn_with_text', micropost: @micropost %>
</div>

<div class="row py-3 px-4">
  <% @likes.each do |like| %>
      <%= link_to my_page_path(like.user), class: "m-2" do %>  
        <%= image_tag url_for(like.user.avatar.variant(resize: "60x60>")) %>
      <% end %>
  <% end %>
</div>