<span id="studyAmountRangeInput">
  <%= label_tag "page[start]", "開始ページ" %>
  <%= number_field_tag "page[start]", nil, in: 0...9999 %>
  <%= label_tag "page[end]", "終了ページ" %>
  <%= number_field_tag "page[end]", nil, in: 0...9999 %>
</span>