<%= label :micropost, :study_amount, "学習量", class: "mb-1" %>
<div>
  <%= number_field :micropost, :study_amount, min: 1, max: 9999 %>
  <span id="studyUnit"><%= @selected_book.study_unit %></span>
</div>