  <div id="topNavLink" class="d-md-none col-4 d-flex text-center px-0" style="height: 42px;">
    <div class="flex-fill">
      <%= link_to notifications_path(current_user), class: "d-inline-block my-2" do %>
        <% if unchecked_notifications.any? %>
          <span class="fa-layers fa-fw">
            <i class="fas fa-bell text-primary"></i>
            <span class="fa-layers-counter fa-lg fa-layers-bottom-right bg-tomato"></span>
          </span>
        <% else%>
          <i class="fas fa-bell text-primary"></i>
        <% end %>
      <% end %>
    </div>
    <div class="flex-fill">
      <%= link_to user_path(current_user), class: "d-inline-block my-2" do %>
        <i class="fas fa-user text-primary"></i>
      <% end %>
    </div>
    <div class="flex-fill">
      <%= link_to destroy_user_session_path(), method: :delete, class: "d-inline-block my-2" do %>
        <i class="fas fa-sign-out-alt text-primary"></i>
      <% end %>
    </div>
  </div>